
.resume {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 30px;
    background-color: white;
    color: #292b2c;
    font-size: 0.7em;
    /* border: 1px solid black; */
}

.resume li {
    /* white-space: nowrap; */
}

.resume .section {
    /* padding: 10px; */
    /* border: 1px solid black; */
}

.resume .section:nth-child(odd) {
    /* background-color: white; */
}

.resume .section:nth-child(even) {
    /* background-color: #f9f9f9; */
}

.resume .contact {
    text-align: left;
}

.resume .contact li {
    display: block;
}

.resume .contact div:nth-child(odd) {
    font-size: .9em;
    color: lightslategray;
}

.resume .contact div:nth-child(even) {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.resume .skills {
    margin-top: 40px;
}

.resume .title {
    font-size: 1.1em;
    font-weight: bold;
}

.resume .clearfix {
    content: "";
    display: table;
    clear: both;
}

.resume .skills .items .item {
    margin-left: 30px;
    /* border: 1px solid black; */
}

.resume .float-left {
    float: left;
}

.resume .float-right {
    float: right;
}

.resume .full-width {
    width: 100%;
}

.resume .italic {
    font-style: italic;
}

.resume .hover {
    margin: 0;
    padding: 5px;
    -webkit-transition: background-color 0.2s; /* Safari */
    transition: background-color 0.2s;
    border-radius: 10px;    
}

/* .resume .hover:hover {
    background-color: lightslategray;
    color: white;
} */

.resume .header {
    background-color: lightslategray;
    color: white;
    width: 100%;
    height: 100px;
    padding-top: 15px;
}

.resume .header .name {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 10px;
    top: 25px;
}

.resume .header .header-title {
    color: lightblue;
    font-size: 1.5rem;
}

.resume .content {
    width: 100%;
    background-color: #e6e6e6;
}

.resume .m-10 {
    margin: 10px;
}

.resume .left {
    width: 25%;
    height: 100%;
    background-color: #e6e6e6;
}

.resume .right {
    width: 75%;
    background-color: #fff;
    overflow-y: auto;
}

@media screen and (max-width: 1050px) {
  .resume .left {
     width: 100%;
  }
    .resume .right {
        width: 100%;
    }
}